<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
    <add name="DefaultConnection" connectionString="Password=victorSql07#;Persist Security Info=True;User ID=sa;Initial Catalog=yHR;Data Source=DESKTOP-93A0QUC" providerName="System.Data.SqlClient" />
    <add name="DefaultOLEDB" connectionString="Provider=MSOLEDBSQL;Server=DESKTOP-93A0QUC;Database=yHR;UID=sa;PWD=victorSql07#;" providerName="System.Data.SqlClient" />


  </connectionStrings>



	<appSettings>
		<add key="C:\Users\jeffy\source\repos\yokirExpenditure\yokirExpenditure\ExpenditureReport.rdlc" />

	</appSettings>
	
</configuration>